.back-button {
  position: fixed;
  top: 15vh;
  color: #000000;
  background-color: transparent;
  border: none;
  margin-left: 2.5vw;
  font-weight: 700;
  font-family: 'Fragment Mono';
  // width: 14vw;
  font-size: 1.7vh;
  border-bottom: solid;
}

.back-button:hover {
  color: #ffffff;
}

.back-button-white {
  position: fixed;
  top: 15vh;
  color: #ffffff;
  background-color: transparent;
  border: none;
  margin-left: 2vw;
  font-weight: 700;
  font-family: 'Fragment Mono';
  // width: 14vw;
  font-size: 1.7vh;
  border-bottom: solid;
  z-index: 5;
}

.back-button-white:hover {
  color: #ffffff;
}

.back-arrow-white {
  position: fixed;
  top: 13vh;
  height: 6vh;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.back-arrow-black {
  position: fixed;
  top: 13vh;
  height: 6vh;
}
