.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-left: 14vw;
  margin-top: 0vh;
  max-width: 100%;
  scroll-behavior: smooth;
}

.name-carousel {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #000000;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 2px;
  font-family: 'Fragment Mono', monospace;
}

.carousel-image {
  height: 100vh;
  width: 100%;
  margin-left: 0.3rem;
  border: solid white;
  object-fit: cover;
  z-index: -1;
}

.two {
  filter: grayscale(100%);

}

.carousel::-webkit-scrollbar {
  display: none;
}
