.wrapper{
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  transition: all 0.6s ease-in-out;
  padding-top: 15vh;
  padding-left: 10vw;
}

#active:checked ~ .wrapper{
  right:0;
}

.dropdown{
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown span,
.dropdown:before,
.dropdown:after{
  content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
  border-bottom: 0.1rem solid #fff;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dropdown:before{
  transform: translateY(-8px);
}

.dropdown:after{
  transform: translateY(8px);
}

.close {
  z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .dropdown span {
  transform: scaleX(0);
}

#active:checked + .dropdown:before {
  transform: rotate(45deg);
  border-color: #fff;
  color: white !important;
}

#active:checked + .dropdown:after {
  transform: rotate(-45deg);
  border-color: #fff;
}

.wrapper ul{
  position: absolute;
  display: contents;
  // margin: 0 auto;
  // top: 60%;
  // left: 50%;
  // height: 90%;
  // transform: translate(-50%, -50%);
  list-style: none;
  // width:100%;
  // text-align:center;
}

.wrapper ul li{
  height: 15vh;
  // margin: 15px 0;
}

.wrapper ul li{
  // margin: 15px 0;
}

.wrapper ul li a{
  text-decoration: none;
  font-family: 'Fragment Mono';
  font-size: 8vh;
  font-weight: 700;
  text-align: center;
  color: #fff;
  position: absolute;
  line-height: 50px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  width:100%;
}

.wrapper ul li a:after{
  position: absolute;
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after{
  transform: scaleY(1);
}

.wrapper ul li a:hover{
  color: #ffffff;
}

input[type="checkbox"]{
  display: none;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}

.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}

#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
  transition-delay: .6s;
  transform: translateX(-100px);
}
