.my-navbar-home {
  margin: 0;
  left: 0;
  top: 0;;
  height: 12vh;
  width: 100%;
  font-weight: lighter;
  background-color: transparent;
  position: fixed;
  background: linear-gradient(-180deg, rgba(91, 90, 90, 0.8) 0%, transparent 100%);
  z-index: 1;
}

.my-navbar {
  margin: 0;
  left: 0;
  top: 0;
  height: 12vh;
  width: 100%;
  font-weight: lighter;
  background-color: transparent;
  position: fixed;
background: linear-gradient(-180deg, #d9d9d9 0%, rgba(255, 255, 255, -0.5) 100%);  z-index: 1;
}

.my-navbar-transparent {
  margin: 0;
  left: 0;
  top: 0;
  height: 12vh;
  width: 100%;
  font-weight: lighter;
  background-color: transparent;
  position: fixed;
  background: linear-gradient(-180deg, rgb(255, 255, 255) 0%, transparent);
  z-index: 1;
}

.logo {
  position: absolute;
  float: left;
  margin-top: 2vh;
  margin-left: 2.9vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 8.75vh;
  letter-spacing: 2px;
  font-family: 'Fragment Mono', monospace;
  text-decoration: none!important;
  word-spacing: -30px;
}

.logo:hover {
  color: rgb(255, 255, 255);
}
