.my-navbar-home {
  margin: 0;
  left: 0;
  top: 0;;
  height: 12vh;
  width: 100%;
  font-weight: lighter;
  background-color: transparent;
  position: fixed;
  background: linear-gradient(-180deg, rgba(91, 90, 90, 0.8) 0%, transparent 100%);
  z-index: 1;
}
