.wrapper-mobile {
    display: flex;
}

.img-main-mobile {
    width: 44.4vw;
    background-image: url(https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460502/shanMUA/daisy/9F1249EE-36B1-414B-86BE-E796C5C2618E_vuuqypp.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}