.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 293px));
  margin-left: 4%;
  margin-top: 15%;
  // justify-content: center;
  // grid-gap: 28px;
}

.post {
  cursor: pointer;
  position: relative;
  display: block;
}

.gallery-image {
  margin: 0;
}

.rendered-image {
  object-position: center top;
}

.gallery-image img {
  vertical-align: top;
  height: 18rem;
  width: 18rem;
  border: solid white;
  object-fit: cover;
}

.gallery-image-overlay {
  background: rgba(0,0,0, .4);
  position: absolute;
  left: 0;
  right: 0.4rem;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.post:hover .gallery-image-overlay{
  display: flex;

}

.gallery-name {
  width: 80px;
  margin: 0 auto;
  font-weight: 700;
  font-family: 'Fragment Mono';
  font-size: 2.3rem;
}

@media screen and (max-width: 768px) {
  .post-list {
    grid-gap: 3px;
  }
}
