.gallery-container-1 {
  display: flex;
  flex-direction: row;
  margin-left: 13vw;
  margin-right: 14vw;
  width: 70vw;
  margin-top: 18vh;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  margin-left: 13vw;
  margin-right: 14vw;
  width: 70vw;
}

.gallery-container-last {
  padding-bottom: 10vh;

}

.post {
  cursor: pointer;
  position: relative;
  display: block;
}

.gallery-image {
  margin: 0;
}

.rendered-image {
  object-position: center top;
}

.gallery-image img {
  vertical-align: top;
  height: 22vw;
  width: 25vw;
  border: solid white;
  object-fit: cover;
}

.gallery-image-overlay {
  background: rgba(0,0,0, .4);
  position: absolute;
  left: 0;
  right: 0.2rem;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.post:hover .gallery-image-overlay{
  display: flex;
}

.gallery-name {
  // width: 8;
  margin: 0 auto;
  font-weight: 700;
  font-family: 'Fragment Mono';
  font-size: 4vw;
}

@media screen and (max-width: 768px) {
  // .post-list {
  //   grid-gap: 3px;
  // }
}
