<div class="my-footer">
  <div class="icons">
    <a href="https://instagram.com/shanmua_?igshid=YmMyMTA2M2Y=">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1673545484/1164347_instagram_logo_media_network_new_icon_omvbt1.png" alt="instagram" class="img">
    </a>
    <a href="https://www.linkedin.com/in/shannon-herdman-821bb3150">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1673545736/4102586_applications_linkedin_social_social_media_icon_qbueoa.png" alt="linkedin" class="img pl-4">
    </a>
  </div>
</div>
