<body class="model">
  <%= render "elements/navbar" %>
  <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1673794571/imgonline-com-ua-CompressToSize-knrcVUGASZTwg_drocao.jpg" alt="shan" id="img-shan">
  <div class="sub-container">
  </div>
    <div class="about-section">
      <div class="about-shan mb-5">
        <h2>ABOUT</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br>

        <br>CONVALLIS MASSA AT HENDRERIT NATOQUE NULLA NON ULTRICIES. PRAESENT CLASS PLATEA LIBERO PHARETRA PURUS SIT DIAM AT.</p>
      </div>
      <div class="clients my-5">
        <h2>CLIENTS</h2>
        <p>Puma | Footlocker | Bronx shoes | Mlouye | VICE | Nubikk | Orangebag  Another-Label | Sandwich | Charlie Temple | Palais | Let's create productions | O My Bag Lingadore | Red Button |  IMM London | Flawed | Art of Colors | Elite Models Amsterdam |  Maxmodels | Elvis models | Kumesu | Maruti | Moonstories jewelry</p>
        <p>and many more…</p>
      </div>
      <div class="publications my-5">
        <h2>PUBLICATIONS</h2>
        <p>Puma | Footlocker | Bronx shoes | Mlouye | VICE | Nubikk | Orangebag  Another-Label | Sandwich | Charlie Temple | Palais | Let's create productions | O My Bag Lingadore | Red Button |  IMM London | Flawed | Art of Colors | Elite Models Amsterdam |  Maxmodels | Elvis models | Kumesu | Maruti | Moonstories jewelry</p>
        <p>and many more…</p>
      </div>
      <div class="find-me mt-5">
        <h2>GET IN TOUCH</h2>
        <p class="email mb-5"><strong>shannonherdman7@gmail.com</strong></p>
      </div>
    <%# </div> %>
  </div>
  <%= render 'elements/footer' %>
</body>
