<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container">
  </div>
  <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1673794571/imgonline-com-ua-CompressToSize-knrcVUGASZTwg_drocao.jpg" alt="shan" id="img-shan">
    <div class="about-section">
      <div class="about-shan mb-5">
        <h2>ABOUT</h2>
        <p>Shannon is a power woman in everything she does. She’s confident, professional and talented as both an artist and a person.
          Her honesty is valued by both friends and colleagues alike.
          Shannon is, quite simply, 100% herself.
          Her presence is demanding of attention, in a humbled and charismatic manner - when she enters a room, people are drawn to her.
          She is always perfectly put together and her attention to detail is a both a strength and talent.
          Her work as an artist is forever flawless, and her skills with people make her approachable and reliable.
          Shannon finds a way to bring out the best in people, always. She lifts others up and highlights their strengths - being around her is always a pleasure. Her positive attitude and strong work ethic make her a perfect colleague. She’s a hard worker, natural empath and someone many aspire to be like, and have around. <br>
        </p>
      </div>
      <div class="about-shan my-5">
        <h2>CLIENTS</h2>
        <p>MOB JOURNAL | PUMP | VOGUE | HARPER’S BAZAAR | LUCY’S | IQ | CHOVAIN | EVON NOIR FLANELLE | SHUBA | THE PORTRAIT PROJECT | CAP 74024 | THE GLASS</p>
      </div>
      <div class="about-shan my-5">
        <h2>PUBLICATIONS</h2>
        <p>GANNI | VANMOOF | O MY BAG AMSTERDAM | MTV | MOMO KODAMA | MAC COSMETICS | PERNOD RICARD | VOGUE | HUNKEMÖLLER | AMSTERDAM FASHION INSTITUTE | AUDREY HAMILTON APPAREL | KINKI KAPPERS | NAOMI SHARON | DESIGN HOEDEN | TUBBLE</p>
        <p>and many more…</p>
      </div>
      <div class="about-shan mt-5">
        <h2>GET IN TOUCH</h2>
        <p>shannonherdman7@gmail.com</p>
      </div>
  </div>
  <%= render 'elements/footer' %>
</body>
