<body class="model">
  <%= render "elements/navbar-transparent" %>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-white">
  </a>
    <div>
      <div class="grid-container-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929479/shanMUA/alina/image00008_uvn5mk.jpg" alt="12" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929480/shanMUA/alina/image00015_eqndsg.jpg" alt="11" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929480/shanMUA/alina/image00010_jwjvtt.jpg" alt="10" class="grid-img-medium">
      </div>
      <div class="grid-container-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929480/shanMUA/alina/image00007_pcdv5c.jpg" alt="4" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929481/shanMUA/alina/image00018_g5p3qa.jpg" alt="5" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929480/shanMUA/alina/image00011_bhc71c.jpg" alt="6" class="grid-img-medium">
      </div>
      <div class="grid-container-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929479/shanMUA/alina/image00009_rxpx8n.jpg" alt="1" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929479/shanMUA/alina/image00002_zml7wt.jpg" alt="2" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929479/shanMUA/alina/image00001_cda23w.jpg" alt="3" class="grid-img-medium">
      </div>
      <div class="grid-container-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929479/shanMUA/alina/image00012_stzfzh.jpg" alt="9" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929481/shanMUA/alina/image00014_wrexea.jpg" alt="6" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929479/shanMUA/alina/image00005_hrwb00.jpg" alt="4" class="grid-img-medium">
      </div>
      <div class="grid-container-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929480/shanMUA/alina/image00019_n9ztkj.jpg" alt="8" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929480/shanMUA/alina/image00017_ebfpb8.jpg" alt="9" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674929480/shanMUA/alina/image00016_zhpszp.jpg" alt="7" class="grid-img-medium">
      </div>
    </div>
  </div>
</body>
