<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container"></div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
  <div class="carousel">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00016_ydpdyy.jpg" alt="1" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921418/shanMUA/britt/image00014_azslfz.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921418/shanMUA/britt/image00012_vcdckx.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921418/shanMUA/britt/image00008_jq8uku.jpg" alt="3" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921417/shanMUA/britt/image00004_uurba2.jpg" alt="5" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921418/shanMUA/britt/image00006_wllpju.jpg" alt="10" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921417/shanMUA/britt/image00001_gdvkgv.jpg" alt="11" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00020_howq68.jpg" alt="13" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921417/shanMUA/britt/image00005_bqoazh.jpg" alt="9" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921420/shanMUA/britt/image00026_aoervr.jpg" alt="6" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921420/shanMUA/britt/image00024_uvoawm.jpg" alt="7" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00017_am3cel.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921418/shanMUA/britt/image00007_myr3di.jpg" alt="17" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00018_a9fl03.jpg" alt="16" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921418/shanMUA/britt/image00010_rdboai.jpg" alt="18" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921417/shanMUA/britt/image00003_klbow0.jpg" alt="19" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00021_x2u7cn.jpg" alt="20" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921417/shanMUA/britt/image00002_z5ftfh.jpg" alt="12" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00022_rkfk27.jpg" alt="14" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921418/shanMUA/britt/image00009_fcaeyw.jpg" alt="15" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00019_cdnaou.jpg" alt="21" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00013_hiioax.jpg" alt="1" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921419/shanMUA/britt/image00023_booi7k.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921420/shanMUA/britt/image00011_d4u36h.jpg" alt="3" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921420/shanMUA/britt/image00027_etlvhi.jpg" alt="6" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921420/shanMUA/britt/image00025_ohaeec.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674921420/shanMUA/britt/image00028_fndtfb.jpg" alt="5" class="carousel-image">
  </div>
</body>
