<body class="model">
  <%= render "elements/navbar-transparent" %>
  <div class="sub-container"></div>
  <%# <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-white">
  </a> %>
  <div class="wrapper-mobile">
    <div class="grid-container-small">
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460508/shanMUA/daisy/791F3320-9DD2-4B7D-BD8B-967EDFB17800_i6jtut.jpg" alt="1" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460506/shanMUA/daisy/84A36A94-C2F5-44C2-A509-D202F558916E_hgsmro.jpg" alt="2" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460512/shanMUA/daisy/A33E393A-1FA3-40A2-9EB6-398BD3AB9A1D_ydcvrz.jpg" alt="3" class="grid-img-small">
      </div>
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460507/shanMUA/daisy/596F42FE-64B8-468B-A934-18F40CCE7B40_qeotrd.jpg" alt="7" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460509/shanMUA/daisy/5707FD88-9823-47F7-9EB6-74A740FE456C_cxhs3t.jpg" alt="8" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460509/shanMUA/daisy/1417E54B-6391-497E-89FF-099DE3373465_k5auzs.jpg" alt="9" class="grid-img-small">
      </div>
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460518/shanMUA/daisy/FFBFF42A-0BEC-4FCB-A809-E00D0025C80F_udem3q.jpg" alt="10" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460504/shanMUA/daisy/76A94CDD-D80D-49DC-97EA-0B9D838234AD_szzv6m.jpg" alt="11" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460499/shanMUA/daisy/3E4913EE-9A51-420D-8440-18268B59801E_j6bkmh.jpg" alt="12" class="grid-img-small">
      </div>
    </div>
    <div class="img-main-mobile"></div>
  </div>
</body>
<h1>MOBILE</h1>