<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container">
  </div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>  <div class="carousel">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927583/shanMUA/dune%2Bisle/image00001_x9ysu7.jpg" alt="9" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927584/shanMUA/dune%2Bisle/image00019_ubftkk.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927584/shanMUA/dune%2Bisle/image00004_qp2cyr.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927584/shanMUA/dune%2Bisle/image00018_ricsb7.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927583/shanMUA/dune%2Bisle/image00005_m5qyzn.jpg" alt="7" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927586/shanMUA/dune%2Bisle/image00015_ne84ne.jpg" alt="1" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927583/shanMUA/dune%2Bisle/image00011_cao3tb.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927583/shanMUA/dune%2Bisle/image00003_s7uwn9.jpg" alt="5" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927585/shanMUA/dune%2Bisle/image00006_ndj5bs.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927586/shanMUA/dune%2Bisle/image00017_q0zvgr.jpg" alt="6" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927586/shanMUA/dune%2Bisle/image00020_hsjyp4.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674927586/shanMUA/dune%2Bisle/image00014_wswakw.jpg" alt="9" class="carousel-image">
  </div>
</body>
