<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container">
  </div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>  <div class="carousel">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460500/shanMUA/elizabeth/6E8D6BC2-A791-4D78-8B52-2726E73BD28E_jnvefu.jpg" alt="9" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460507/shanMUA/elizabeth/553A2230-CCEF-4616-A961-A52B785781EB_e63sxo.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460495/shanMUA/elizabeth/0BE846B8-ED04-4BE8-9000-8972F833EA6B_tsqwx4.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460498/shanMUA/elizabeth/3FFB96E8-5440-451B-9C0B-BF7749E844FF_bxdmg0.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460497/shanMUA/elizabeth/4E52DD8A-A847-4883-9A9B-D81390537648_oapfv5.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460602/shanMUA/elizabeth/512922BD-61AB-48C3-870C-0E3DBA6F8500_rfouwn.jpg" alt="1" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460603/shanMUA/elizabeth/7473DBA0-3051-4BFE-A8D6-FD0DB6B0E5B6_giewd5.jpg" alt="7" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460505/shanMUA/elizabeth/58D9C694-0B30-4930-BE1A-4C24241ED487_ctv5yx.jpg" alt="3" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460515/shanMUA/elizabeth/CD65AB01-926B-4650-BE8C-FD9A60CB03B9_eqtu6x.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460603/shanMUA/elizabeth/73889DA5-8844-40BB-87AB-FD7E5D374CBA_jexu5t.jpg" alt="5" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460604/shanMUA/elizabeth/EA5B9D69-8588-4F80-A832-C725AADD89C5_rei7co.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460602/shanMUA/elizabeth/C71F3D92-0959-4581-9AB7-3858244179F7_sliblz.jpg" alt="6" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460513/shanMUA/elizabeth/C4E036F4-1902-436E-9ED1-6878EAC76C62_oeyiy6.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460502/shanMUA/elizabeth/8F7FC71B-149C-48AD-BF53-FD42994B5B50_jbpwtw.jpg" alt="9" class="carousel-image">
  </div>
</body>
