<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container"></div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
  <div class="carousel">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460495/shanMUA/Emily/2B2178EF-B377-484C-B131-3DF29668A8D3_knrngt.jpg" alt="1" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460498/shanMUA/Emily/5B5CB772-A2C7-41F0-A8B5-EAAC12F02B1E_pdjc0k.jpg" alt="7" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460509/shanMUA/Emily/1796C4E1-DF8F-42B1-AD38-4BDA4D280BFF_l83xns.jpg" alt="3" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460603/shanMUA/Emily/088CCDDF-F415-4983-9919-96092E289677_v8vzyh.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460510/shanMUA/Emily/45208C88-7398-4AA5-BD47-C4CF05E3E2FC_cq8yea.jpg" alt="9" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460510/shanMUA/Emily/49228DF3-3EE3-4197-99D5-E8C3977829BD_rwwlvt.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460605/shanMUA/Emily/9779AE04-E23C-4C68-A35B-02E2DD51C084_jagfsw.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460500/shanMUA/Emily/8E0AFCEB-036B-42FC-BA3B-673E1CDF4729_qhuyuu.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460507/shanMUA/Emily/660ABD4A-0113-46A7-96BF-C2DFE79B17D8_fha1is.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460508/shanMUA/Emily/816A7AAA-F38B-4444-9316-EEABFB642AAE_whlipy.jpg" alt="6" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460503/shanMUA/Emily/8EA03B13-D8CA-4774-9CDF-800BD402C235_by8mzm.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460505/shanMUA/Emily/76FA90B6-3DDE-48F5-9DCD-2965B02FD5BF_k1hhak.jpg" alt="5" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460511/shanMUA/Emily/49949C0B-8F4E-416E-BEF2-BF95280A8E10_caanxh.jpg" alt="5" class="carousel-image mr-5">
  </div>
</body>
