<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container">
  </div>
  <section class="gallery-container">
    <a href="daisy" class="post">
      <figure class="gallery-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460499/shanMUA/daisy/3E4913EE-9A51-420D-8440-18268B59801E_j6bkmh.jpg" alt="">
      </figure>
      <span class="gallery-image-overlay">
        <p>
          <span class="gallery-name">DAISY</span>
        </p>
      </span>
    </a>

    <a href="rosie" class="post">
      <figure class="gallery-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460512/shanMUA/Rosie/B4A674DE-253B-48D6-AA19-465529A26DF0_tfilve.jpg" alt="" class="rendered-image">
      </figure>
      <span class="gallery-image-overlay">
        <p>
          <span class="gallery-name">ROSIE</span>
        </p>
      </span>
    </a>

    <a href="elizabeth" class="post">
      <figure class="gallery-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460603/shanMUA/elizabeth/73889DA5-8844-40BB-87AB-FD7E5D374CBA_jexu5t.jpg" alt="">
      </figure>
      <span class="gallery-image-overlay">
        <p>
          <span class="gallery-name">ELIZABETH</span>
        </p>
      </span>
    </a>

    <a href="juliette" class="post">
      <figure class="gallery-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460499/shanMUA/juliette/6A88FB84-BFEE-4E42-9F55-2AC87DEB108C_fzihcw.jpg" alt="" class="rendered-image">
      </figure>
      <span class="gallery-image-overlay">
        <p>
          <span class="gallery-name">JULIÉTTE</span>
        </p>
      </span>
    </a>

    <a href="emily" class="post">
      <figure class="gallery-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460510/shanMUA/Emily/49228DF3-3EE3-4197-99D5-E8C3977829BD_rwwlvt.jpg" alt="">
      </figure>
      <span class="gallery-image-overlay">
        <p>
          <span class="gallery-name">EMILY</span>
        </p>
      </span>
    </a>

  </section>

</body>
