<body class="model">
  <%= render "elements/navbar-transparent" %>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-white">
  </a>
    <div>
      <div class="grid-container-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590793/shanMUA/isis/image00002_b8p4zx.jpg" alt="4" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590793/shanMUA/isis/image00001_oqq8tf.jpg" alt="5" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590793/shanMUA/isis/image00007_cnvzjd.jpg" alt="6" class="grid-img-medium">
      </div>
      <div class="grid-container-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590794/shanMUA/isis/image00006_rxsqfq.jpg" alt="11" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590794/shanMUA/isis/image00003_lk7gqp.jpg" alt="12" class="grid-img-medium">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590792/shanMUA/isis/image00004_zzlrfb.jpg" alt="10" class="grid-img-medium">
      </div>
    </div>
  </div>
</body>
