<body class="model">
  <%= render "elements/navbar-transparent" %>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-white">
  </a>
  <div>
    <div class="grid-container-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460515/shanMUA/juliette/E50C23D5-0F49-42B6-81EA-D736943008B6_xvfs81.jpg" alt="4" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460600/shanMUA/juliette/8EE9A9E8-578B-4DEC-A9B4-02704B66CE86_tys8er.jpg" alt="5" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460515/shanMUA/juliette/CEF7B366-2869-4444-99FB-494E7BE691B3_nccbz5.jpg" alt="6" class="grid-img-medium">
    </div>
    <div class="grid-container-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460601/shanMUA/juliette/31A0A575-A875-4DE3-ADC2-6A15D60AC30D_xttmwg.jpg" alt="10" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460496/shanMUA/juliette/4F50EAC8-EDB7-4F4F-868C-7E9D38A296AE_tdhzev.jpg" alt="7" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460496/shanMUA/juliette/2E754A40-2723-49F3-B14D-838F781DCDB4_1_qfnv4i.jpg" alt="7" class="grid-img-medium">
    </div>
    <div class="grid-container-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460502/shanMUA/juliette/27E5C1AC-D586-48E2-B456-1BC58C0D1968_iggfix.jpg" alt="8" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460499/shanMUA/juliette/6A88FB84-BFEE-4E42-9F55-2AC87DEB108C_fzihcw.jpg" alt="9" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460500/shanMUA/juliette/6C63B76C-D620-429A-9459-82B3501DBDE1_ejbrhq.jpg" alt="11" class="grid-img-medium">
    </div>
    <div class="grid-container-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460606/shanMUA/juliette/7843FB45-10C5-4459-85A7-A09799C2FFCE_x5yivj.jpg" alt="1" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460605/shanMUA/juliette/C31A17E0-91D2-4918-9916-B552753B8E40_pc7yhf.jpg" alt="2" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460603/shanMUA/juliette/F85303BD-7A9D-4BA2-88D0-809A98F93520_mdtw2k.jpg" alt="3" class="grid-img-medium">
    </div>
  </div>
</body>
