<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container">
  </div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
    <div class="carousel">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926296/shanMUA/lique/image00001_rl1dtg.jpg" alt="6" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926296/shanMUA/lique/image00006_dcvh45.jpg" alt="4" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926297/shanMUA/lique/image00005_psosmm.jpg" alt="1" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926297/shanMUA/lique/image00002_d6v8vn.jpg" alt="3" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926296/shanMUA/lique/image00008_tmoact.jpg" alt="6" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926297/shanMUA/lique/image00009_asbnuv.jpg" alt="5" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926296/shanMUA/lique/image00003_kr8bik.jpg" alt="9" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926296/shanMUA/lique/image00004_rkhxla.jpg" alt="2" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926297/shanMUA/lique/image00010_gmtxc6.jpg" alt="11" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926297/shanMUA/lique/image00011_vk0j8x.jpg" alt="10" class="carousel-image">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674926296/shanMUA/lique/image00007_otbfyy.jpg" alt="12" class="carousel-image">
    </div>
  </div>
</body>
