<body class="model">
  <%= render "elements/navbar-transparent" %>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-white">
  </a>
  <div>
    <div class="grid-container-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932279/shanMUA/marga/image00006_svhspp.jpg" alt="1" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932279/shanMUA/marga/image00001_w3w0hs.jpg" alt="3" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932279/shanMUA/marga/image00009_ju05im.jpg" alt="11" class="grid-img-medium">
    </div>
    <div class="grid-container-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932280/shanMUA/marga/image00011_znuadx.jpg" alt="4" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932281/shanMUA/marga/image00010_r0wt8n.jpg" alt="6" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932282/shanMUA/marga/image00008_g35l7a.jpg" alt="5" class="grid-img-medium">
    </div>
    <div class="grid-container-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932279/shanMUA/marga/image00002_r5fsxh.jpg" alt="10" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932279/shanMUA/marga/image00004_duw97l.jpg" alt="12" class="grid-img-medium">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932280/shanMUA/marga/image00007_tvtzmd.jpg" alt="2" class="grid-img-medium">
    </div>
  </div>
</body>
