<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container"></div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
  <div class="carousel">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932798/shanMUA/mees%2Blateesha/image00012_y0tnpr.jpg" alt="1" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932798/shanMUA/mees%2Blateesha/image00011_jg3zhd.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932797/shanMUA/mees%2Blateesha/image00010_hgerni.jpg" alt="3" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932797/shanMUA/mees%2Blateesha/image00007_s8df4w.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932797/shanMUA/mees%2Blateesha/image00009_lexwyb.jpg" alt="5" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932797/shanMUA/mees%2Blateesha/image00001_dgvy9s.jpg" alt="10" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932798/shanMUA/mees%2Blateesha/image00013_s9b1uz.jpg" alt="9" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932798/shanMUA/mees%2Blateesha/image00006_dvlrqg.jpg" alt="6" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932798/shanMUA/mees%2Blateesha/image00008_kvgdr2.jpg" alt="11" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674932798/shanMUA/mees%2Blateesha/image00005_n1rxmg.jpg" alt="13" class="carousel-image">
  </div>
</body>
