<body class="model">
  <%= render "elements/navbar-transparent" %>
  <div class="sub-container">
  </div>
  <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593674/shanMUA/twins/image00008_es1gfy.jpg" alt="daisy" id="img-daisy">
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-white">
  </a>
    <div class="grid-container-small">
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593672/shanMUA/twins/image00007_aedpkr.jpg" alt="1" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593673/shanMUA/twins/image00011_cpgdfm.jpg" alt="2" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593674/shanMUA/twins/image00009_fpdykg.jpg" alt="3" class="grid-img-small">
      </div>
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593668/shanMUA/twins/image00003_z6alx8.jpg" alt="7" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593671/shanMUA/twins/image00006_yzknw6.jpg" alt="8" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593680/shanMUA/twins/image00014_hp38wf.jpg" alt="9" class="grid-img-small">
      </div>
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593679/shanMUA/twins/image00015_vvz29g.jpg" alt="7" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593676/shanMUA/twins/image00016_bymbfq.jpg" alt="8" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593679/shanMUA/twins/image00017_anslph.jpg" alt="9" class="grid-img-small">
      </div>
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593676/shanMUA/twins/image00004_am4fm0.jpg" alt="10" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593670/shanMUA/twins/image00005_bw6i8s.jpg" alt="11" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593680/shanMUA/twins/image00013_q5astd.jpg" alt="12" class="grid-img-small">
      </div>
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593675/shanMUA/twins/image00010_kucrfh.jpg" alt="12" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593674/shanMUA/twins/image00012_y8nwjz.jpg" alt="11" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674593668/shanMUA/twins/image00002_fgcafi.jpg" alt="10" class="grid-img-small">
      </div>
    </div>
  </div>
</body>
