<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container">
  </div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
  <div class="carousel">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1673876370/shanMUA/Rosie/1B6D2536-7F3F-49DE-9C79-09EAFEF6144D_qepl1v_zudpwu.jpg" alt="" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460514/shanMUA/Rosie/CA39F5A4-49E9-4398-985A-2632B529F6C0_kogdy1.jpg" alt="" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460601/shanMUA/Rosie/795F0B20-1E3D-456D-B3F5-F5AAD90B8B22_ix0pdx.jpg" alt="8" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460601/shanMUA/Rosie/F28A4CCA-E6A8-48CF-B4C5-8E988EDAB2FA_o1jz6q.jpg" alt="6" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460513/shanMUA/Rosie/B1E787B5-4355-4B40-9F3B-97CB10A43A21_uxnvha.jpg" alt="9" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460512/shanMUA/Rosie/B4A674DE-253B-48D6-AA19-465529A26DF0_tfilve.jpg" alt="2" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460507/shanMUA/Rosie/647CBDF7-F823-4FE0-B481-ECC8D587F2C3_m6zcms.jpg" alt="8" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460495/shanMUA/Rosie/1C38898F-3D17-47BD-A61A-3556C3F600CA_d6tron.jpg" alt="8" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460514/shanMUA/Rosie/CCD204ED-D35F-4140-BD24-0A7F685F11AF_pulsyn.jpg" alt="1" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674216544/shanMUA/Rosie/578709EE-FEB1-4FAD-8E4C-4743525A369C_uwdiek.jpg" alt="7" class="carousel-image">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1671460513/shanMUA/Rosie/AF997490-7C8E-47F4-997F-EDB088C94A38_pqwkni.jpg" alt="" class="carousel-image">
  </div>
</body>
