<body class="model">
  <%= render "elements/navbar-transparent" %>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
  <div>
    <div class="grid-container-large">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674924819/shanMUA/sam/image00007_akr3hk.jpg" alt="1" class="grid-img-large">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674924820/shanMUA/sam/image00005_ffcbf4.jpg" alt="daisy" class="grid-img-large">
    </div>
    <div class="grid-container-large">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674924819/shanMUA/sam/image00002_axlxow.jpg" alt="2" class="grid-img-large">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674924820/shanMUA/sam/image00009_yb9mjd.jpg" alt="12" class="grid-img-large">
    </div>
    <div class="grid-container-large">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674924819/shanMUA/sam/image00011_zptytq.jpg" alt="10" class="grid-img-large">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674924819/shanMUA/sam/image00003_ywpwpb.jpg" alt="8" class="grid-img-large">
    </div>
    <div class="grid-container-large">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674924820/shanMUA/sam/image00004_zxmubs.jpg" alt="7" class="grid-img-large">
      <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674924819/shanMUA/sam/image00006_b0vydk.jpg" alt="3" class="grid-img-large">
    </div>
  </div>
</body>
