<body class="model">
  <%= render "elements/navbar-transparent" %>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-white">
  </a>    <div>
      <div class="grid-container-large">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590847/shanMUA/samantha/image00009_lolnzg.jpg" alt="4" class="grid-img-large">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590847/shanMUA/samantha/image00007_d8wurl.jpg" alt="5" class="grid-img-large">
      </div>
      <div class="grid-container-large">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590845/shanMUA/samantha/image00005_gzjhmf.jpg" alt="6" class="grid-img-large">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590845/shanMUA/samantha/image00003_g2zrwp.jpg" alt="11" class="grid-img-large">
      </div>
      <div class="grid-container-large">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590847/shanMUA/samantha/image00008_omzi3t.jpg" alt="10" class="grid-img-large">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590847/shanMUA/samantha/image00010_q8d9ju.jpg" alt="12" class="grid-img-large">
      </div>
      <div class="grid-container-large">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590847/shanMUA/samantha/image00002_kuwpvq.jpg" alt="1" class="grid-img-large">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674590846/shanMUA/samantha/image00004_jneprj.jpg" alt="2" class="grid-img-large">
      </div>
    </div>
  </div>
</body>
