<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container"></div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
  <div class="carousel">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00006_iasp3j.jpg" alt="1" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00015_rnmskw.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00012_g7mxsx.jpg" alt="3" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00014_bbfbvf.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00019_afdo2h.jpg" alt="5" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00023_lgrj4g.jpg" alt="6" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00010_vsorbj.jpg" alt="7" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00017_ofc7qf.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00024_hqr1bm.jpg" alt="9" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00025_hvf08r.jpg" alt="10" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00011_zhtz9y.jpg" alt="11" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00021_udgldc.jpg" alt="12" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00016_qxc2zg.jpg" alt="13" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00009_naopjy.jpg" alt="14" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00004_xmbbjo.jpg" alt="15" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00001_klshns.jpg" alt="16" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00005_sndhnt.jpg" alt="17" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00013_qbt3zx.jpg" alt="18" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00008_mwk6aj.jpg" alt="19" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00022_jcboiy.jpg" alt="20" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00020_oxrhlj.jpg" alt="21" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00006_iasp3j.jpg" alt="1" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00015_rnmskw.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00012_g7mxsx.jpg" alt="3" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00014_bbfbvf.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00019_afdo2h.jpg" alt="5" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00023_lgrj4g.jpg" alt="6" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00010_vsorbj.jpg" alt="7" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00017_ofc7qf.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00024_hqr1bm.jpg" alt="9" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00025_hvf08r.jpg" alt="10" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00011_zhtz9y.jpg" alt="11" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00021_udgldc.jpg" alt="12" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00016_qxc2zg.jpg" alt="13" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00009_naopjy.jpg" alt="14" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00004_xmbbjo.jpg" alt="15" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00001_klshns.jpg" alt="16" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573209/shanMUA/alegra%2Bsam/image00005_sndhnt.jpg" alt="17" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00013_qbt3zx.jpg" alt="18" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573210/shanMUA/alegra%2Bsam/image00008_mwk6aj.jpg" alt="19" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00022_jcboiy.jpg" alt="20" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674573211/shanMUA/alegra%2Bsam/image00020_oxrhlj.jpg" alt="21" class="carousel-image">
  </div>
</body>
