<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container">
  </div>
  <div class="services-section">
    <div class="about-shan mb-5">
      <h2>SINGLE LOOK €95</h2>
      <p>
        Skincare&Prep<br>
        Lashes included<br>
        Hairstyling not included in price<br>
        Location costs excluded
      </p>
    </div>
    <div class="pricing my-5">
      <h2>HALF DAY / 4 HOURS €450</h2>
      <p>
        2 looks<br>
        Skincare&Prep<br>
        Lashes included<br>
        Hairstyling not included in price<br>
      </p>
      <p>Additional hour €100</p>
    </div>
    <div class="pricing my-5">
      <h2>FULL DAY / 8 HOURS €750</h2>
      <p>
        Up to 4 looks<br>
        Skincare&Prep<br>
        Lashes included<br>
        Hairstyling not included in price<br>
      </p>
      <p>Additional hour €100</p>
    <div class="find-me mt-5">
      <h2>GET IN TOUCH</h2>
      <p class="email mb-5"><strong>shannonherdman7@gmail.com</strong></p>
    </div>
  </div>
  <%= render 'elements/footer' %>
</body>
