<body class="model">
  <%= render "elements/navbar" %>
  <div class="sub-container"></div>
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
  <div class="carousel">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572344/shanMUA/sunita/image00008_gs1svn.jpg" alt="2" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572341/shanMUA/sunita/image00004_xbuihc.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572342/shanMUA/sunita/image00007_ngr8r3.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572341/shanMUA/sunita/image00006_klfr90.jpg" alt="3" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572342/shanMUA/sunita/image00009_nfsgec.jpg" alt="9" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572341/shanMUA/sunita/image00003_vcja78.jpg" alt="8" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572341/shanMUA/sunita/image00006_klfr90.jpg" alt="4" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572341/shanMUA/sunita/image00002_hkm5dm.jpg" alt="7" class="carousel-image">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674572341/shanMUA/sunita/image00005_baocig.jpg" alt="1" class="carousel-image">
  </div>
</body>
