<body class="model">
  <%= render "elements/navbar-transparent" %>
  <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592435/shanMUA/willie/image00009_wvvpwn.jpg" alt="4" id="img-daisy">
  <a href="gallery" class="back-button-white">
    <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1675349586/360_F_540933644_Xycm0SVvKzYq7SXu92y3EqTG3kranuUj_jay6k0-transformed_wlgfx3.png" alt="" class="back-arrow-black">
  </a>
    <div class="grid-container">
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592431/shanMUA/willie/image00001_coakxu.jpg" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592440/shanMUA/willie/image00006_wj4zwj.jpg" alt="5" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592441/shanMUA/willie/image00010_kypr3l.jpg" alt="6" class="grid-img-small">
      </div>
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592433/shanMUA/willie/image00008_mekflg.jpg" alt="10" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592432/shanMUA/willie/image00002_hzyl2v.jpg" alt="11" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592431/shanMUA/willie/image00004_ln755d.jpg" alt="12" class="grid-img-small">
      </div>
      <div>
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592440/shanMUA/willie/image00012_avf9u0.jpg" alt="1" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592434/shanMUA/willie/image00011_kwffa1.jpg" alt="3" class="grid-img-small">
        <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1674592441/shanMUA/willie/image00005_wzybun.jpg" alt="2" class="grid-img-small">
      </div>
    </div>
  </div>
</body>
