// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

//css styling
@import 'config/fonts';

//pages
@import 'pages/home';
@import 'pages/about';
@import 'pages/services';
@import 'pages/gallery';

//elements
@import 'elements/navbar';
@import 'elements/navbar-home';
@import 'elements/menu';
@import 'elements/footer';
@import 'elements/sub-container';
@import 'elements/grid';
@import 'elements/carousel';
@import 'elements/back-button';
